body{
    background-color: rgb(25, 46, 23);
}

/*text*/
h2{
font-family: Helvetica;
}
h3{
    font-family: Helvetica;
}
h4{
    font-family: Helvetica;
}

/*sections*/
.right{
    float: right;
}

.left{
    float: left;
}

/*cotainers*/
.stats{
    background-color: rgba(151, 151, 151, 0.301);
}

.mainClicker{
    display: flex;
    justify-content: center;
}