body{
    background-color: rgb(25, 46, 23);
}

/*text*/
h2{
    font-family: Helvetica;
}
h3{
    font-family: Helvetica;
}
h4{
    font-family: Helvetica;
}

/*sections*/
.right{
    float: right;
}

.left{
    float: left;
}

/*cotainers*/
.stats{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 1%;
    font-weight: bold;
    width: 10%;
}

.mainClicker{
    position: relative;
    display: flex;
    justify-content: center;

    /*anti highlight*/
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*click animation*/
.mainClicker img {
    transition: all .2s ease-in-out;
}

.mainClicker img:hover{
    transform: scale(1.10);
}

.mainClicker img:active{
    transform: scale(0.98);
}

/*shop extra*/
.shopButton {
    background-color: #b5b5b5;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    width: 100%;
    margin: 10px 10px 10px 0px;

    word-wrap: break-word;
    box-sizing: border-box;
}

.shopButton:hover {
    background-color: #c7c7c7;
    transition: all .2s ease-in-out;
}

.shopButton #nameandcost p {
    margin: 0px;
    width: 60%;
}

.shopButton #nameAndCost P:first-of-type{
    font-size: 24px;
}

.shopButton #amount{
    font-size: 48px;
    width: 50%;
    direction: rtl;

    /*blue selection is annoying*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.shopButton p{
    /*blue selection is annoying*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}